body {
  font-family: Avenir, sans-serif;
  font-weight: normal;

}

h1 {
  text-align: center;
  font-weight: normal;
  color: black;
  margin: 80px 0 50px;

}

.small {
  height: 230px;
  width: inherit;
  padding: 10px;
  transition: 1s;

}
.small:hover{
  transform: scale(1.1);
}
.gallery {
  margin: 140px;


}
